/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
 /*#51473d*/
/*background-image: url(pics/coffey.jpg) no-repeat;*/

#container{
    width: 600px;
    height: 400px;
    margin: 0px auto 0px auto;
    text-align: left;
    background: #51473d;
}

#topbar{
    color: #fff;
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
    background: #51473d;
    padding: 5px 5px 205px 0px;
    background-image: url("pics/coffey.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
}

#maincontent{
    float: left;
    width: 350px;
    background: #eae7d2;
    /*border-right: 1px dashed #000;*/
    height: 420px;
    padding-left: 10px;
}

#maincontent{
    color: #51473d;
}

#maincontent p{
    color: #51473d;
    font-size: 1.2em;
    text-align: left;
    margin: 0;
}

#subcontent{
    position: relative;
    height: 410px;
    margin-top: 40px;
    background: #eae7d2;
    margin-left: 360px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-left: 1px dashed #000;
}

#subcontent h1{
    color: #51473d;
    font-size: 1.1em;
    margin-left: 10px;
    padding-top: 30px;
}

#subcontent h2{
    color: #51473d;
    font-size: 1.1em;
    font-weight: normal;
    margin-left: 10px;
}

#subcontent p{
    color: #51473d;
    font-size: 1em;
    margin-left: 10px;
}

#subcontent ul{
    position: relative;
    margin-left: 10px;
    padding: 0;
    list-style-type: none;
}

#subcontent li a{
    color: #51473d;
    font-size: 1.1em;
}

img{
    float: left;
    padding-right: 5px;
}

#bottomcontent{
    color: #51473d;
    clear: both;
    background: #eae7d2;
    padding: 10px;
}

#menu{
    /*margin-top: 190px;*/
    float: left;
    width: 600px;
    height: 39px;
    background: #51473d;
    border-bottom: 1px solid #fff;
    /*overflow: hidden;*/
    position: relative;

}

#menu ul{
    display: block;
    clear: left;
    list-style: none;
    margin: 5px 0 0 0;
    position: relative;
    text-align: center;
}

#menu li{
    display: block;
    float: left;
    border-right: 1px solid #51473d;
    
    
}

#menu a{
    display: none;
}

#menu ul li a{
    display: block;
    text-transform: capitalize;
    padding: 7px 15px 7px 15px;
    background: #eae7d2;
    color: ;
    text-decoration: none;
}

#menu ul li.active{
    border-bottom: none;
}
