/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
 /*#51473d*/
/*background-image: url(pics/coffey.jpg) no-repeat;*/

#container{
    width: 600px;
    height: 400px;
    margin: 20px auto 0px auto;
    text-align: left;
    /*background: #51473d;*/

}

#topbar{
    color: #fff;
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
    background: #51473d;
    padding: 5px 5px 205px 0px;
    background-image: url("pics/coffey.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
}

#maincontent{
    float: left;
    width: 400px;
    background: #eae7d2;
    border-right: 1px dashed #000;
    height: 417px;
    padding-left: 10px;
}

#maincontent p{
    font-size: 1.2em;
    text-align: left;
    margin: 0;
}

#subcontent{
    /*margin-top: 230px;*/
    margin-top: 56px;
    background: #eae7d2;
    margin-left: 380px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#subcontent h2, p{
    margin-left: 40px;
    
}

#subcontent h1{
    margin-left: 40px;
    padding-top: 15px;
}

#subcontent ul li{
    list-style-type: none;
}

img{
    float: left;
    padding-right: 5px;
}

#bottomcontent{
    clear: both;
    background: #eae7d2;
    padding: 10px;
}

#menu{
    /*margin-top: 190px;*/
    background: #51473d;
    height: 20px;
}

#menu ul{
    padding-bottom: 0;
    margin: 0;
}

#menu li{
    padding: 0;
    margin: 0;
    float: left;
    padding: 10px;
    list-style-type: none;
    display: block;
}

#menu a{
    display: none;
}

#menu ul li a{
    display: block;
}